.topic-list {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px 0;
}

.topic-card {
  height: 100%;
  
  mat-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    box-shadow: none !important;
  }

  mat-card-title {
    font-size: 16px !important;
    margin-bottom: 8px !important;
  }
  mat-card-content {
    flex: 1;
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .topic-list {
    grid-template-columns: 1fr;
  }
}