<app-go-back></app-go-back>
<h1>Se connecter</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>E-mail ou nom d'utilisateur</mat-label>
      <input matInput type="text" formControlName="login" autocomplete="off" required />
    </mat-form-field>
    <div *ngIf="loginForm.get('login')?.touched && loginForm.get('login')?.invalid">
      <div *ngIf="loginForm.get('login')?.errors?.['required']">Ce champ est requis.</div>
    </div>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" formControlName="password" autocomplete="off" required />
    </mat-form-field>
    <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
      <div *ngIf="loginForm.get('password')?.errors?.['required']">Le mot de passe est requis.</div>
    </div>
  </div>
  <button mat-flat-button color="primary" type="submit" [disabled]="loading">Se connecter</button>

  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
</form>
