.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-logo {
  display: none;
  width: 225px;
  margin-top: 80px;
}

@media (max-width: 768px) {
  .mobile-logo {
    display: block;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

mat-form-field {
  width: 300px;
  height: 50px;
  margin-bottom: 40px;
}