<h1>Se connecter</h1>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label for="username">E-mail ou nom d'utilisateur</label>
  <input type="text" id="username" formControlName="login" autocomplete="off" required />
  <div *ngIf="loginForm.get('login')?.touched && loginForm.get('login')?.invalid">
    <div *ngIf="loginForm.get('login')?.errors?.['required']">Ce champ est requis.</div>
  </div>

  <label for="password">Mot de passe</label>
  <input type="password" id="password" formControlName="password" autocomplete="off" required />
  <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
    <div *ngIf="loginForm.get('password')?.errors?.['required']">Le mot de passe est requis.</div>
  </div>

  <button type="submit" [disabled]="loading">Se connecter</button>

  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
</form>
