form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10%;
}

mat-form-field {
  width: calc(85% - 53px);
}

button {
  margin-left: 10px;
}

mat-icon {
  width: 43px !important;
  height: 43px !important;
  font-size: 43px !important;
  transform: rotate(-45deg);
  line-height: 43px !important;
}

@media (max-width: 768px) {
  form {
    padding-left: 0;
  }

  mat-form-field {
    width: calc(100% - 53px);
  }
  
  button {
    margin-left: 10px;
  }
}