h1 {
  text-align: center;
  margin-top: 32px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

form > div {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 280px;
  height: 50px;
  margin-bottom: 40px;
}

.error {
  color: red;
  margin-top: -15px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 15px;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

.success-message {
  color: green;
  text-align: center;
  margin-bottom: 20px;
}

button {
  font-size: 16px !important;
}

mat-divider {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
  width: 90%;
  margin: auto;
}

.user-subscription-list {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px 0;
}

.topic-card {
  height: 100%;
  
  mat-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    box-shadow: none !important;
  }

  mat-card-title {
    font-size: 16px !important;
  }

  mat-card-content {
    flex: 1;
    font-size: 14px !important;
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .user-subscription-list {
    grid-template-columns: 1fr;
  }
}