<app-go-back></app-go-back>
<div class="container">
  <h1>Créer un nouvel article</h1>
  <form [formGroup]="form" (ngSubmit)="submit()" class="form">
    <mat-form-field appearance="outline">
      <mat-label>Sélectionner un thème</mat-label>
      <mat-select matInput  formControlName="topicId" [disabled]="loadingTopics" aria-placeholder="Sélectionner un thème">
        <mat-option *ngFor="let topic of topics" [value]="topic.id">
          {{ topic.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Titre de l'article</mat-label>
      <input matInput type="text" formControlName="title" >
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contenu de l'article</mat-label>
      <textarea matInput rows="5" formControlName="content" ></textarea>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid || submitting">
      {{ submitting ? 'Envoi…' : 'Créer' }}
    </button>
  </form>
</div>