<app-go-back></app-go-back>
<form [formGroup]="form" (ngSubmit)="submit()" class="form">

  <!-- Sélection du thème -->
  <div>
    <label>Thème</label>

    <select formControlName="topicId" [disabled]="loadingTopics">
      <option value="">-- Choisir un thème --</option>
      <option *ngFor="let topic of topics" [value]="topic.id">
        {{ topic.title }}
      </option>
    </select>

    <p *ngIf="form.get('topicId')?.invalid && form.get('topicId')?.touched">
      Choisir un thème est obligatoire.
    </p>
  </div>

  <!-- Titre -->
  <div>
    <label>Titre</label>
    <input type="text" formControlName="title">

    <p *ngIf="form.get('title')?.invalid && form.get('title')?.touched">
      Le titre est trop court.
    </p>
  </div>

  <!-- Contenu -->
  <div>
    <label>Contenu</label>
    <textarea rows="5" formControlName="content"></textarea>

    <p *ngIf="form.get('content')?.invalid && form.get('content')?.touched">
      Le contenu est trop court.
    </p>
  </div>

  <button type="submit" [disabled]="form.invalid || submitting">
    {{ submitting ? 'Envoi…' : 'Créer le post' }}
  </button>

</form>
