.container {
  width: 80%;
  margin: auto;
}

p {
  font-size: 20px;
}

.comment {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
}

#author {
  width: 15%;
}

mat-card {
  background-color: #f5f5f5;
  box-shadow: none !important;
  width: 85%;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }

  .comment {
    display: flex;
    flex-direction: column;

  }

  #author {
    width: 100%;
    text-align: right;
  }

  mat-card {
    width: 100%;
  }
}