.container {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.action {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

a {
  text-decoration: none;
  font-size: 16px;
}

mat-icon {
  vertical-align: bottom;
}

.post-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.post-card {
  cursor: pointer;
  height: 100%;
  
  mat-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    box-shadow: none !important;
  }

  mat-card-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  mat-card-title {
    font-size: 16px !important;
    margin-bottom: 8px !important;
  }

  .card-subtitle-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 8px;
  }

  mat-card-content {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .post-list {
    grid-template-columns: 1fr;
  }

  .action {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}