<app-go-back></app-go-back>
<div class="container">
  <div *ngIf="loadingPost">Chargement du post...</div>
  <div class="post" *ngIf="!loadingPost && post">
    <h1>{{ post.title }}</h1>
    <div class="post-details">
      <span>{{ post.createdAt | date:'dd/MM/yyyy' }}</span>
      <span>{{ post.authorName }}</span>
      <span>{{ post.topicTitle }}</span>
    </div>
    <div class="content">
      {{ post.content }}
    </div>
    <mat-divider></mat-divider>
  </div>
  <p id="subtitle">Commentaires</p>
  <app-comment #commentsComp [postId]="postId"></app-comment>
  <app-create-comment [postId]="postId" (commentCreated)="commentsComp.refresh()"></app-create-comment>
</div>
